* {
  font-family: "Roboto", sans-serif;
}

header {
  position: relative;
  height: 50px;
}

nav {
  position: fixed;
  width: 100%;
  height: 50px;
  background: #212121;
  z-index: 2;
}

.label {
  display: block;
  margin: 0 auto;
  text-align: center;
  font-size: 12px;
  text-transform: uppercase;
  color: #ffffff;
  background: black;
  width: 115px;
  padding: 6px;
}

.header {
  margin-top: 33px;
  font-weight: bold;
  font-size: 38px;
  text-align: center;
  text-transform: uppercase;
  color: #222222;
}

nav .menu {
  display: flex;
  justify-content: space-between;
  padding: 13px 70px;
  margin: 0;
  list-style-type: none;
}

.menu .menu_item {
  border-right: 2px dotted black;
  padding-right: 28px;
}

.menu .menu_link {
  font-weight: 300;
  font-size: 15px;
  color: #ffffff;
}

.subheader {
  position: absolute;
  top: 50px;
  width: 100%;
  height: 84px;
  background: rgba(0, 0, 0, 0.6);
}

.subheader .subheader_logo {
  margin-top: 16px;
  display: block;
  max-width: 100%;
}

.subheader .subheader_official {
  margin-top: 6px;
  opacity: 0.5;
  color: #ffff;
  font-size: 13px;
  font-weight: 200;
}

.subheader .subheader_call {
  margin-top: 24px;
  font-weight: 300;
  font-size: 12px;
  text-align: right;
  color: #ffffff;
}

.subheader .subheader_phone {
  font-size: 22px;
  text-transform: uppercase;
  color: #ffffff;
}

.subheader .subheader_btn {
  margin-top: 21px;
  width: 172px;
  height: 46px;
  font-size: 14px;
  line-height: 46px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
  background: linear-gradient(0deg, #1eacc7 0%, #4ce2ff 100%);
  box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.promo {
  min-height: 800px;
  padding: 150px 0 135px 0;
  background: url("../icons/uber_bg.jpg") center center/cover no-repeat;
}

.promo .promo_header {
  margin-top: 67px;
  font-weight: 900;
  font-size: 60px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
}

.promo .promo_subheader {
  font-weight: 700;
  font-size: 36px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
}

.promo .promo_text {
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  text-align: center;
}

.promo .promo_btn {
  display: block;
  margin: 115px auto 0 auto;
  width: 259px;
  height: 63px;
  background: linear-gradient(0deg, #1eacc7 0%, #4ce2ff 100%);
  box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  font-size: 18px;
  text-transform: uppercase;
  color: #ffffff;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
}

.reasons {
  min-height: 864px;
  padding: 18px 0 64px 0;
  background: #ffffff;
}

.reasons .reasons_card {
  display: flex;
  justify-content: center;
  align-items: center;
}

.reasons .reasons_card .reasons_round {
  margin-right: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1eacc7;
  border-radius: 100%;
  min-width: 116px;
  min-height: 116px;
}

.reasons .reasons_card .reasons_text {
  margin-top: 25px;
  min-width: 370px;
}

.reasons .reasons_card .reasons_text .reasons_title {
  font-size: 17px;
  color: #1eacc7;
  margin: 0;
  line-height: 21px;
}

.reasons .reasons_card .reasons_text .reasons_descr {
  line-height: 21px;
  margin-top: 6px;
  font-size: 15px;
}
